<div class="dialog-wrapper">
  <p class="form-label">Sign In</p>

  <div class="input-container">
    <label for="email">Email</label>
    <input id="email" type="text" [formControl]="email" />
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
      <p *ngIf="email.errors?.['required']">Email is required</p>
      <p *ngIf="email.errors?.['email']">Provide a valid email</p>
    </div>
  </div>
  <div class="input-container">
    <label for="password">Password</label>
    <input id="password" type="text" [formControl]="password" />
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="alert"
    >
      <p *ngIf="password.errors?.['required']">Password is required</p>
      <p *ngIf="password.errors?.['minlength']">
        Password must not be less than 8
      </p>
    </div>
  </div>
  <button
    [disabled]="isRequesting"
    type="button"
    class="submit-btn"
    (click)="handleLoginSubmit()"
  >
    <div *ngIf="isRequesting" class="spinner-con">
      <mat-icon>looks</mat-icon>
    </div>
    <p *ngIf="!isRequesting">Submit</p>
  </button>
</div>
