<div class="product-card">
  <img
    [src]="'data:image/png;base64,' + product?.image"
    alt="Im"
    class="product-image"
  />
  <div class="product-content">
    <div class="f-row">
      <p class="product-name">{{ product?.name }}</p>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu class="mat-menu" #menu="matMenu">
        <div class="dropdown">
          <div class="option">
            <mat-icon>edit</mat-icon>
            <p>Edit</p>
          </div>
          <div class="option">
            <mat-icon>delete </mat-icon>
            <p>Delete</p>
          </div>
        </div>
      </mat-menu>
    </div>
    <p class="product-price">${{ product?.price }}</p>
    <p class="product-descrition">
      {{ product?.description }}
    </p>
  </div>
</div>
