<div class="product-card">
  <div class="product-container">
    <img
      [src]="'data:image/png;base64,' + product.image"
      alt="Im"
      class="product-image"
    />
  </div>
  <div class="product-content">
    <div class="f-row">
      <p class="product-name">{{ product.name }}</p>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu class="mat-menu" #menu="matMenu">
        <div class="dropdown">
          <div class="option">
            <mat-icon>edit</mat-icon>
            <p>Edit</p>
          </div>
          <div class="option" (click)="handeleDelete(product.id)">
            <mat-icon>delete </mat-icon>
            <p>Delete</p>
          </div>
        </div>
      </mat-menu>
    </div>
    <p class="product-price">${{ product.price }}</p>
    <p class="product-descrition">
      {{
        product.description.length > 70
          ? product.description.substring(0, 70) + "..."
          : product.description
      }}
    </p>
  </div>
</div>
