<div class="page-wrapper">
  <div *ngIf="loaded" class="inner-wrapper">
    <input
      type="file"
      name="image"
      id="image"
      class="file"
      (change)="convertFileToBase64($event)"
    />
    <label for="image">
      <div class="img-con">
        <img
          class="product-image"
          [src]="'data:image/png;base64,' + imageBase64"
          alt="image"
        />
      </div>
    </label>
    <div>
      <div>
        <input
          type="text"
          class="product-name"
          name="name"
          [formControl]="name"
        />
      </div>
      <div>
        <input
          type="text"
          class="product-price"
          name="price"
          [formControl]="price"
        />
      </div>

      <textarea
        class="product-description"
        name="description"
        [formControl]="description"
        cols="30"
        rows="10"
      ></textarea>
    </div>
  </div>
  <div class="button-container">
    <button class="btn" (click)="handleSave()">Save</button>
  </div>
</div>
