.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
}

form {
  width: 430px;
  margin: 0 auto;
}

.input-container {
  max-width: 430px;
  margin: 20px auto;
}

.input-container label,
.label {
  font-weight: 500;
  font-size: 14px;
  color: #1e1e1e;
}

.input-container input {
  display: block;
  width: 100%;
  height: 55px;
  border-radius: 8px;
  border: 2px solid #000;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
}

.input-container .alert p {
  color: #f00;
  font-size: 14px;
  font-weight: 700;
}

.file-container {
  max-width: 430px;
  margin: 20px auto;
}

.file-container label .box {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  border: 2px dashed #000;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
}

.file-container label .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.select {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-container .file {
  display: none;
}

.btn {
  max-width: 430px;
  width: 100%;
  margin: 20px auto;
  height: 55px;
  background: #000;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
