<div class="wrapper">
  <form [formGroup]="newProduct" (submit)="handleSubmit()">
    <div class="file-container">
      <p class="label">Image</p>
      <label for="file">
        <div class="box">
          <img
            *ngIf="imgBase64"
            [src]="'data:image/png;base64,' + imgBase64"
            alt="Image"
          />
          <div *ngIf="!imgBase64" class="select">
            <p>Click to Select</p>
          </div>
        </div>
      </label>
      <input
        id="file"
        class="file"
        type="file"
        (change)="convertFileToBase64($event)"
      />
    </div>
    <div class="input-container">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" />
    </div>
    <div class="input-container">
      <label for="price">Price</label>
      <input id="price" type="number" formControlName="price" />
    </div>
    <div class="input-container">
      <label for="description">Description</label>
      <input id="description" type="text" formControlName="description" />
    </div>
    <div>
      <button type="submit" class="btn">Create Product</button>
    </div>
  </form>
</div>
